<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
</head>
<body>
	<nav>
		<label class="logo"><h1>Thai Restaurant</h1></label>
		<ul>
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('about')}}">About Us</a></li>
			<li><a href="{{url_for('contact')}}">Contact</a></li>
			<li><a href="{{url_for('menu')}}">Menu</a></li>
			<li><a href="{{url_for('gallery')}}">Gallery</a></li>
			<li><a href="{{url_for('blog')}}">Blog</a></li>
		</ul>
	</nav>
<h1>A Guide to Thai Food and Culture</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Yam_wun_sen.JPG/261px-Yam_wun_sen.JPG">

<p align="justify">
	 In Thailand, food forms a central part of any social occasion, and it often becomes the social occasion in itself or a reason to celebrate. This is partly due to the friendly, social nature of Thai people, but also because of the way in which food is ordered, served, and eaten. Family and friends unite and share through food.
The Key Flavors

A typical Thai meal includes five main flavors: salty, sweet, sour, bitter, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all five. While the seasoning can be spicy for a foreign palate, Thai food ensures that a balance of all flavors is present.

When eating out, or making a meal at home, a group of Thai diners would eat a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup. Everything is shared, except the soup each person might order, or each person gets a personal bowl to get a serving of the soup. Dessert may consist simply of fresh fruit, such as pineapple or any of the thousands of tropical fruits that are common in the country (guava, durian, mangosteen, papayas, bananas, tamarind, or mangoes, amongst many). Or it could be something more elaborate, like colorful rice cakes, rice dumplings coated in coconut, grass jelly, or a bean dessert. 
</p>
<h1>Thai Cutlery and Eating Style </h1>
<p align="justify">
	 Although the Chinese brought chopsticks to Thailand long ago, most Thais prefer to use Western cutlery, though in their own special way. Thai cutlery generally consists of a fork and large spoon. The spoon is held in the right hand and used in place of a knife, and the fork helps to arrange the food on the spoon before bringing it to the mouth. As all ingredients in the dishes come already cut-up, there is no need for a knife.

When eating, Thais do not combine various foods on their plates, but rather, they sample one dish at a time, always eaten with a mound of Thai fragrant rice on an individual plate. Bowls are used mainly for soup, not in place of an eating plate, like in other Asian traditions.

After the meal is over, there is no such thing as disposing of the leftovers. Throwing food away enrages the Thai god of rice, a female deity who watches over the people, ensuring everyone has enough to eat. Bad luck or even widespread famine may then ensue if food is discarded. 
<h1>Presentation Is Important </h1>
<p align="justify">
	 The formal presentation of food is another important aspect of Thai culture. Attention to detail and how pretty it looks when served are relevant to the eating experience. Regardless of the beautiful flavors it provides, the dish has to look appealing, and this aspect honors the respect Thai culture has for its food and ingredients. Thai food presentation is among the most exquisite in the world; serving platters are decorated with all variety of flower-carved vegetables and fruits, palace-style stir-fries include elegantly carved vegetables within the dish itself. Chefs are trained in the art of carving because food needs an extra layer of attention beyond cooking and into the realm of the aesthetic.

Most dishes come in bite sizes, a clever way to get around the fact that Buddhism discourages cooking a whole animal. So fish, beef, pork, and chicken are sliced before cooking, alongside all of the other ingredients, also chopped and cubed. </p>
<img src="https://www.thespruceeats.com/thmb/PI7-l46cRTcDVWG65oIpYXdb05M=/425x326/filters:no_upscale():max_bytes(150000):strip_icc()/nasi-campur-685464738-5aff60d0a474be00376262d8.jpg">
<h1>Rice</h1>
<p align="justify">
	 Nothing occupies a more prominent place in Thai cuisine than rice. The most served dish in all meals, rice is treated with respect and never wasted. Thailand grows and serves many varieties of rice, and Jasmine is the most favored, but also the most expensive. Glutinous, or sticky rice is also fairly common, and white rice is abundant and less expensive than Jasmine rice while still being delicious. Cooks pay a lot of attention to the quality of the rice they buy and have many techniques for how to cook it, which temperature to use, how much water, how to steam it, and for how long. Rice can make or break a meal.

Noodles are very common, but not as common as rice. Whereas rice is served to share, noodles dishes are often for individual consumption. </p>
</p>
</body>
</html>