<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      
      
      <h3><a href = "{{ url_for('register') }}">Add User</a></h3>
      
    
      <div class="loginbox">
      <img src="static/img/avatar.png" class="avatar">
      
      <h1>Edit</h1>
      <form action="update" method="post">
         
         <p>Old Username</p>
         <input type="text" name="username" placeholder="Enter Username"><br>
         <p>New Username</p>
         <input type="text" name="newusername" placeholder="Enter Username"><br>
         
         <button type="submit">Register</button><br>
         
      </form>
</div>
</body>
</html>
