*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

}
body{
	font-family: montserrat;
	background: url(img/pic1.jpeg);
}
nav{
	background: #0082e6;
	height: 100px;
	width: 100%;

}

nav ul{
	float: right;
	margin-right: 20px;

}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;

}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50%-50px);

}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;

}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}