*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

}
body{
	font-family: montserrat;
	background: url(img/pic1.jpeg);
}
nav{
	background: #0082e6;
	height: 100px;
	width: 100%;

}

nav ul{
	float: right;
	margin-right: 20px;

}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

.container{
	max-width: 1200px;
	margin: auto;
	background: #f2f2f2;
	overflow: auto;

}
.gallery{
	margin: 5px;
	border:1px solid #ccc;
	float: left;
	width: 390px;
}
.gallery img{
	width: 100%;
	height: auto;

}
.desc{
	padding: 15px;
	text-align: center;
	
}